# Logs
*.log

# Database & User Data
data/
*.db
covers/

# Environment
.env
.env.*
!.env.example

# Virtual Environment
.venv/

# Node modules
node_modules/

# OS files
.DS_Store

#Python files
__pycache__

# Build files
dist/
target/
frontend/dist/

#Overig
*.old
.agent/
