# Logs
*.log

# Database
*.db

# Pictures
*.png

# Virtual Environment
.venv/

# Node modules
node_modules/

# OS files
.DS_Store

#Python files
__pycache__

# Build files
frontend/dist/

#Overig
*.old
