services:
  backend:
    image: ealgera/discvault-backend:2.1.0
    container_name: discvault-backend
    restart: unless-stopped
    environment:
      - DATA_DIR=/data
    volumes:
      - ./data:/data
    expose:
      - "8000"

  frontend:
    image: ealgera/discvault-frontend:2.1.0
    container_name: discvault-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
